.renk0 {
    color: #000000 !important;
}

.renk1 {
    color: #00c0ef !important;
}

.renk2 {
    color: #0073b7 !important;
}

.renk3 {
    color: #3c8dbc !important;
}

.renk4 {
    color: #39cccc !important;
}

.renk5 {
    color: #f39c12 !important;
}

.renk6 {
    color: #ff851b !important;
}

.renk7 {
    color: #00a65a !important;
}

.renk8 {
    color: #01ff70 !important;
}

.renk9 {
    color: #dd4b39 !important;
}

.renk10 {
    color: #605ca8 !important;
}

.renk11 {
    color: #f012be !important;
}

.renk12 {
    color: #777 !important;
}

.renk13 {
    color: #001f3f !important;
}
