<section class="content-header">
  <h1>
    Sekreterim
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Anasayfa</a></li>
    <li class="active">Sekreterim</li>
  </ol> 
</section>

<section class="content">
  <div class="row">
    <div [hidden]="isSecretaryExist" class="col-md-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Sekreter Ekle</h3>
          <div class="box-tools pull-right">
            <button type="button" title="Yeni Sekreter Ekle" data-toggle="modal" data-target="#addSecreterModal" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i></button>                                                              
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="!isSecretaryExist" class="col-md-3">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" style="height: 100px; width: 100px" src="{{ (secretary | async)?.photo }}">
          <h3 class="profile-username text-center">{{ (secretary | async)?.nameSurname }}</h3>
          <p class="text-muted text-center">Sekreter</p>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>TC Kimlik No</b> <a class="pull-right">{{ (secretary | async)?.tckimlik }}</a>
            </li>
            <li class="list-group-item">
              <b>Email</b> <a class="pull-right">{{ (secretary | async)?.email }}</a>
            </li>
          </ul>
          <div class="pull-right">
            <a (click)="deleteRequest()" class="btn btn-danger btn-sm btn-block"><i class="glyphicon glyphicon-trash"></i> Sekreteri Sil</a>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="!isSecretaryExist" class="col-md-9">
      <div class="box {{boxColor}}">
        <div class="box-header with-border">
          <h3 class="box-title">Sekreter Bilgileri</h3>
        </div>
        <div class="box-body">
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-body">
                <strong> Doğum Tarihi</strong>
                <p class="text-muted">
                  {{ (secretary | async)?.birthdate }}
                </p>
                <hr>

                <strong> Doğum Yeri</strong>
                <p class="text-muted">{{ (secretary | async)?.birthplace }}</p>
                <hr>

                <strong> Cinsiyet</strong>
                <p class="text-muted">{{ (secretary | async)?.gender }}</p>
                <hr>

                <strong> Ev Telefonu</strong>
                <p class="text-muted">
                  {{ (secretary | async)?.homephone }}
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-body">
                <strong> Adres</strong>
                <p class="text-muted">
                  {{ (secretary | async)?.address }}
                </p>
                <hr>

                <strong> Şehir</strong>
                <p class="text-muted">
                  {{ (secretary | async)?.city }}
                </p>
                <hr>

                <strong> Ülke</strong>
                <p class="text-muted">
                  {{ (secretary | async)?.country }}
                </p>
                <hr>

                <strong> Cep Telefonu</strong>
                <p class="text-muted">
                  {{ (secretary | async)?.cellphone }}
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-default fade" id="addSecreterModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Sekreter Ekle</h4>
          </div>
          <div class="modal-body">
            <div class="box-body">
              <div class="form-group">
                <label>TC Kimlik No</label>
                <input type="text" mask="00000000000" class="form-control" name="name" [(ngModel)]="credentials.sekretertc">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="pull-right">
              <button (click)="closeModal('addSecreterModal')" type="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Vazgeç</button>
              <button (click)="addSecreter()" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Kaydet</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
