<body class="hold-transition login-page style" >
  <div class="login-box">
   
    <div class="login-logo">
      <a><b>KISKO</b>Admin</a>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">Şifrenizi sıfırlamak için T.C Kimlik numaranızı giriniz.</p>

      <form method="post">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" [(ngModel)]="forgotPasswordCredentials.tckimlik" name="tc" placeholder="T.C. Kimlik No" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
  
        <div class="row">
          <div class="col-xs-8">
          </div>

          <div class="col-xs-4">
            <button type="submit" (click)="forgotPassword()" class="btn btn-primary bg-red btn-block btn-flat">Gönder</button>
          </div>
        </div>
      </form>

    </div>

  </div>
</body>