<section class="content-header">
  <h1>
    Şifre Değiştir
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Anasayfa</a></li>
    <li class="active">Şifre Değiştir</li>
  </ol> 
</section>

<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box {{boxColor}}">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>

        <div class="box-body">
          <div class="col-md-12">
            <div class="form-group">
              <label>Eski Şifreniz</label>
              <input type="password" class="form-control" autocomplete="off" name="oldPassword" [(ngModel)]="credentials.oldPassword"/>           
            </div>

            <div class="form-group">
              <label>Yeni Şifreniz</label>
              <input type="password" class="form-control" autocomplete="off" name="newPassword" [(ngModel)]="credentials.newPassword"/>           
            </div>

            <div class="form-group">
              <label>Yeni Şifreniz (Tekrar)</label>
              <input type="password" class="form-control" autocomplete="off" name="newPassword2" [(ngModel)]="credentials.newPassword2"/>           
            </div>
          </div>
          
          <div class="form-group col-md-12" style="margin-top: 15px">
            <div class="pull-right">
              <button (click)="changePassword()" type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-disk"></i> Kaydet</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  
  </div>
</section>
